:host {
  margin: 10px;
  padding: 50px;
  border: solid 1px black;
  box-shadow: 5px 5px rgba(0, 128, 128, 0.5);

  header{
    text-align: center;

    button {
      margin-bottom: 20px;
      box-shadow: 5px 5px rgba(0, 128, 128, 0.5);
      &:hover {
        background-color: rgba(0, 128, 128, 0.5);
      }
      &:active {
        background-color: purple;
      }
    }
  }
}